.title-1{
    font-size: var(--title-1);
    color: var(--grey-0);
    font-weight: var(--font-weigth);
}

.title-2{
    font-size: var(--title-2);
    color: var(--grey-4);
    font-weight: var(--font-weigth);
}
.title-3{
    font-size: var(--title-3);
    color: var(--grey-2);
    font-weight: var(--font-weigth);
}

.text-1{
    font-size: var(--text-1);
    color: var(--grey-1);
}

text-2{
    font-size: var(--text-2);
    color: var(--grey-0);
}